.schedule-container {
  .card-hover {
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      transform: translateY(-5px); // nâng lên
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); // bóng đổ nổi bật
      background-color: #f8f9fa; // màu nền nhạt hơn
    }
  }
}
